// Main Stylesheet

// Box sizing partial styles:
// Apply a natural box layout model to all elements

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Injects all bower_component files automatically
// bower:scss
// endbower



.yeogurt-info {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.version {
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.logo {
  margin-top: 15px;
}

.links a {
  color: white;
  margin-right: 5px;
  margin-top: 20px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #ed7c6c;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  font-size: 100%;
  padding: .5em 1em;
  text-decoration: none;
}


.main-container {
  clear: both;
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
}
.navbar {
  position: relative;
  top:0;
  margin:0;
  padding:0;
  width:100%;
  height:50px;
  font-family: 'Roboto', sans-serif;
}
.nav {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.nav-list{
  padding: 0;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.nav-item{
  display: inline-block;
  margin-left: 5px;
}

.error{
  color: #c00;
}

.info{
  color: #5280e4;
}

.success{
  color: #58e44e;
}

// Custom Styling
.favorite {
  width: 50px;
  height: 50px;
  border: 5px;
  border-color: #000;
  border-style: solid;
  display: inline-block;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}


.guideTitle {
font-family: Roboto;
font-weight: 100;
font-size: 76px;
color: #000000;
line-height: 169px;
}

.arrow-up:after{
content:"\231d"; 
font-size:50px; 
display:inline-block;
transform: rotate(-45deg);

}

.arrow-down:after{
content:"\231d"; 
font-size:50px; 
display:inline-block;
transform: translateX(8px) rotate(135deg);

}

.vote { 
  font-family: Roboto;
  font-weight: 400;
  font-size: 15;
}

/*.readGuideContainer {

}*/

.guideDescHeader {
  font-weight: 400;
  font-size: 30px;
}

.guideDescription {
  font-weight: 300;
  font-size: 20px;
}

.guideContentContainer {
  font-family: Roboto;
  background: #FFFFFF;
  border: 1px solid #979797;
  padding: 20px;
}

.sectionHeader {
  font-weight: 300;
  font-size: 30px;
}

.sectionDesc {
  font-weight: 300;
  font-size: 20px;
}

.linkTitle {
  font-weight: 300;
  font-size: 30px;
  color: #379E59;
}

.linkDesc {
  font-weight: 300;
  font-size: 20px;
}

.userSugHeader {
  font-weight: 300;
  font-size: 28px;
}




/* Web Development: */


